<li class="list-group-item">
    {{burger_name}}


    {{#if devoure}}
        <button type="button" class="btn btn-primary devour" data-id="{{this.id}}" data-devoured="{{devoure}}">Devour</button>
    {{/if}}
</li>